@import '../../scss/index.scss';



.container{

    margin :10px;
    box-sizing: border-box;
    
    .inputWrapper{

        padding: 35px 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        input{
            padding: 20px;
            width: 50%;
            border:0px;
            background: transparent;
            border-bottom:1px solid $black;
            font-size: 22px;
            // font-weight: $font-size-big;
            &:focus{
                box-shadow:2px 2px 10px rgba(0,0,0,0.5);
                outline: none;
            }
        }
    }

    .card{
        display:grid;
        max-width: 200rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap : 1.6rem;

        .genshin {
            display:grid;
            border:1px solid $purple;
            gap:1.6rem;
        
          .card-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
    }
}

@media only screen and (max-width:768px) and (min-width:0px){

    .container{

        margin: 10px;
        .card{
            grid-template-columns: 340px;

            .genshin{
                width: 340px;
                padding:10%;
                color:$purple;
                
            }
        }
    }
    
}
